@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url(fonts/SourceSansPro/SourceSansPro-Bold.ttf);
}
@font-face {
  font-family: Merriweather, sans-serif;
  src: url(fonts/Merriweather/Merriweather-Regular.ttf);
}

html {
  font-size: 105%;
}

body {
  font: 300 1rem/1.375 "Merriweather", Georgia, sans-serif;
  color: #212931;
}

#wrapper {
  background: url(../images/Sunset.jpg) no-repeat, fixed;
  background-size: 150% auto;
}

h1,
h2,
h3,
nav ul,
#copyright,
table th,
.heading {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: 0.075em;
}

h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #fff;
  border: 5px solid #fff;
  padding: 1rem 1.75rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 4rem;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  margin: 0 0 2rem 0;
  text-align: justify;
}

div > header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  padding-bottom: 8rem;
}

/* Nav */

nav {
  max-width: 72rem;
  background: rgba(255, 255, 255, 0.7);
  height: 4rem;
  line-height: 4rem;
  margin: -4rem auto 0;
  padding: 0 2rem 0 0;
}

nav ul {
  text-transform: uppercase;
  display: flex;
}

nav ul li {
  padding: 0 2rem;
  outline: none;
  color: #085468;
}

nav a:hover,
nav a:focus {
  color: #000;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

/* Main */
main,
footer,
#copyright {
  margin: 0 auto;
  max-width: 74rem;
}

main {
  background-color: #ffffff;
}

main section {
  padding: 6rem 4rem 4rem 4rem;
}

section > header p {
  font-style: italic;
  text-align: center;
}

section ul {
  list-style-type: circle;
  list-style-position: inside;
  line-height: 2;
}

picture img,
video {
  display: block;
  margin: 0 auto 2rem;
}

/* Table */

table {
  width: 100%;
  max-width: 60rem;
  margin-bottom: 2rem;
}

th {
  color: #212931;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.75rem;
  padding-top: 0;
  text-align: left;
  text-transform: uppercase;
}

td {
  padding: 0.3rem;
}

tbody tr:nth-of-type(odd) {
  background-color: rgba(220, 220, 220, 0.25);
}

td.right {
  text-align: right;
}

/* Form */

form {
  width: 30rem;
  margin: 1rem auto 0;
}

label {
  width: 8rem;
  float: left;
  text-align: right;
  margin-right: 0.6rem;
  font-size: 1rem;
}

input,
select,
textarea {
  border: 1px solid #dfdbdb;
  color: #212931;
  font-size: 1.3rem;
}

input[type="submit"],
input[type="reset"] {
  background-color: #212931;
  color: #fff;
  border: none;
  padding: 0.5rem 0.8rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  background-color: #18bfef;
}

/* Footer */

footer {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
}

footer p {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

footer address {
  width: 12rem;
  padding: 2rem 4rem;
  font-style: normal;
}

#copyright {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #000;
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#copyright ul li {
  border-left: solid 2px black;
  display: inline-block;
  line-height: 1;
  margin-left: 1rem;
  padding-left: 1rem;
}
